/* Custom fonts and other imports go first */
<<<<<<< Updated upstream
@import url('<link href="https://fonts.googleapis.com/css2?family=Metamorphous&display=swap" rel="stylesheet">');
/* CSS variables */
:root {
  --text-color1: #979461;
  --white: rgb(6, 60, 22);
  --primary-color: rgb(49, 67, 39);
  --brown-text: #26190c;
  --primary-color-bright: #979461;
=======
@import url('<link href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Creepster&family=Macondo&display=swap" rel="stylesheet">');
/* CSS variables */
:root {
  --text-color1: rgb(38, 25, 12);
  --white: rgb(6, 60, 22);
  --brown-text: rgb(38, 26, 22);
  --primary-color: rgb(49, 67, 39);
  --brown-text: rgb(52, 30, 21);
  --primary-color-bright: rgb(0, 163, 24);
>>>>>>> Stashed changes
  --primary-color-dark: rgb(0, 40, 20);
  --transparency:
  --contrast-color: rgb(177, 115, 0);
  --headline-color: var(--brown-text): ;
}

/* Box Model Reset: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Your styles go below */
/* Default styles apply to screens less than 600px wide */
body {
  background-color: var(--primary-color-dark);
<<<<<<< Updated upstream
  background-image: url("../img/leafbackground2.png");
  background-size: 800px 800px;
  background-repeat: repeat;
}
body .metamorphous-regular {
  font-family: "Metamorphous", serif;
  font-weight: 400;
  font-style: normal;
=======
  background-image: url("../img/leafbackground.png");
  background-size: 800px 800px;
  background-repeat: repeat;
  color: var(--brown-text);
  font-family: "Comic Neue", cursive;
>>>>>>> Stashed changes
  margin: 0;
}

h1, h2, h3 {
  color: var(--headline-color);
}

a {
  color: inherit;
}

a:hover {
<<<<<<< Updated upstream
  background-color: var(--primary-color);
=======
  background-color: var(--brown-text);
>>>>>>> Stashed changes
}

/* applies to all <section> elements*/
section {
  padding-top: 40px;
  padding-bottom: 40px;
}

/*applies to anything with class="center */
.center {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  color: var(--text-color1);
}

.header {
  background-blend-mode: multiply;
  background-image: url("../img/Headertest.jpg");
  background-size: cover;
  text-align: center;
}
.header .center {
  max-width: 1200px;
}
.header h1 {
<<<<<<< Updated upstream
  line-height: 120px;
  font-size: 125px;
  margin-top: 80px;
  color: var(--brown-text);
  background-color: var(--primary-color-bright);
  height: 120px;
}
.header h2 {
  line-height: 120px;
  font-size: 155px;
  color: var(--brown-text);
  background-color: var(--primary-color-bright);
  color: var(--brown-text);
  height: 250px;
  margin-top: -100px;
}
.header h3 {
  color: var(--brown-text);
  line-height: 120px;
  font-size: 155px;
  margin-top: -250px;
=======
  line-height: 2px;
  font-size: 125px;
}
.header h2 {
  line-height: 2px;
  font-size: 155px;
}
.header h3 {
  line-height: 2px;
  font-size: 125px;
>>>>>>> Stashed changes
}

.main-content {
  /* this is where you'll put your knives background image */
  background-color: var(--primary-color);
<<<<<<< Updated upstream
  background-image: url("../img/swordpattern2.png");
  background-size: 150px 150px;
  background-repeat: repeat;
  width: 90%;
  height: 2500px;
  max-width: 1440px, 4000px;
  margin: auto;
  margin-top: -500px;
}
.main-content .center {
  background-repeat: no-repeat;
  background-size: 100px, 100px;
  padding-right: 500px;
  margin: 500px;
  list-style-type: none;
  width: 100%;
}

.content {
  padding: 0;
}

=======
  background-image: url("../img/swordpattern.png");
  background-size: 100px 100px;
  background-repeat: repeat;
  width: 96%;
  max-width: 1440px, 4000px;
  margin: auto;
  padding: 900px;
}
.main-content .center {
  width: 100%;
}
.main-content .content {
  padding: 0;
}

>>>>>>> Stashed changes
.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.navigation li a {
  background-color: var(--trans);
<<<<<<< Updated upstream
  color: var(--text-color1);
  display: block;
  size: 50px;
=======
  color: var(--brown-text);
  display: block;
  size: 20px;
>>>>>>> Stashed changes
  padding: 20px;
  text-align: center;
}
.navigation li a:hover, .navigation li a:focus {
  background-color: var(--black);
<<<<<<< Updated upstream
  color: var(--brown-text);
}
.navigation .tickets {
  background-image: url("../img/scrollimage.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  font-size: 100px;
  text-align: center;
  color: var(--brown-text);
  padding: 200px;
}

.footer {
  font-size: 100px;
  list-style-type: none;
  text-align: center;
  text-decoration: underline;
  display: flex;
  gap: 20px;
}

.mascot {
  margin-left: -650px;
  margin-top: -2600px;
  pointer-events: none;
=======
  color: var(--contrast-color);
}
.navigation .tickets {
  background-image: url("../img/scrollimage.webp");
  background-color: transparent;
  background-size: 400px;
  color: var(--text-color1);
  padding: 170px;
  margin: 0px 0;
>>>>>>> Stashed changes
}

/* Styles for screens above or equal to 600px wide *//*# sourceMappingURL=main.css.map */