/* Custom fonts and other imports go first */
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Creepster&display=swap');

/* CSS variables */
:root {
  --text-color1: rgb(38, 25, 12);
  --white: rgb(0, 255, 76);
  --off-white: rgb(0, 255, 128);
  --primary-color: rgb(49, 67, 39);
  --primary-color-light: rgb(0, 218, 149);
  --primary-color-bright: rgb(0, 163, 24);
  --primary-color-dark: rgb(0, 40, 20);
  --transparency:

  --contrast-color: rgb(177, 115, 0);

  --headline-color: var(--primary-color-light):
}

/* Box Model Reset: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Yo
}

h1, h2, h3 {
  color: var(--headline-color);
}

a {
  color: inherit;
  text-decoration: fade-in($color: #000000, $amount: 0);
}

a:hover {
  background-color: var(--primary-color-light);
}
/* applies to all <section> elements*/
section {
  padding-top: 40px;
  padding-bottom: 40px; 
}

/*applies to anything with class="center */
.center {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

.header {
  background-blend-mode: multiply;
  background-image: url("../img/Headertest.jpg");
  background-size: cover;
  text-align: center;

  .center {
    max-width: 1200px;
  }

  h1 {
    font-size: 75px;
  }
}

.main-content {
  /* this is where you'll put your knives background image */
  background-color: var(--primary-color);
  background-image: url("../img/swordpattern.png");
  background-size: 100px 100px;
  background-repeat: repeat;
  width: 96%;
  max-width: 1440px;
  margin: auto;
  padding: 0;

  .center {
    width: 100%;
  }

  .content {
    padding: 0;
  }
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  font-size: 20px;
  padding: 0;
  margin: 0;

  li { 

    a {
      background-color: var(--transparency);
      color: var(--off-white);
      display: block;
      size: 20px;
      padding: 20px;
      
      text-align: center;

      &:hover,
      &:focus {
        background-color: var(--black);
        color: var(--contrast-color);
      }
    }
  }

  .tickets {
    background-image: url("../img/scrollimage.webp");
    background-color: transparent;
    background-size: 584px, 372px;
    color: var(--text-color1);
    padding: 150px;
    margin: -10px 0;
  }
}


/* Styles for screens above or equal to 600px wide */
@media (width >= 600px) {

}
