/* Custom fonts and other imports go first */
@import url('<link href="https://fonts.googleapis.com/css2?family=Metamorphous&display=swap" rel="stylesheet">');
/* CSS variables */
:root {
  --text-color1: #979461;
  --white: rgb(6, 60, 22);
  --primary-color: rgb(49, 67, 39);
  --brown-text: #26190c;
  --primary-color-bright: #aa951d;
  --primary-color-dark: rgb(0, 40, 20);
  --transparency:
  --contrast-color: rgb(177, 115, 0);
  --headline-color: var(--brown-text): ;
}

/* Box Model Reset: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Your styles go below */
/* Default styles apply to screens less than 600px wide */
body {
  background-color: var(--primary-color-dark);
  background-image: url("../img/leafbackground2.png");
  background-size: 800px 800px;
  background-repeat: repeat;
}
body .metamorphous-regular {
  font-family: "Metamorphous", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

h1, h2, h3 {
  color: var(--headline-color);
}

a {
  color: inherit;
}

a:hover {
  background-color: var(--primary-color);
}

/* applies to all <section> elements*/
section {
  padding-top: 40px;
  padding-bottom: 40px;
}

/*applies to anything with class="center */
.center {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  color: var(--text-color1);
}

.header {
  background-blend-mode: multiply;
  background-image: url("../img/Headertest.jpg");
  background-size: cover;
  text-align: center;
  position: relative;
  z-index: 100;
}
.header .center {
  max-width: 1600px;
}
.header h1 {
  line-height: 0.725em;
  font-size: 125px;
  margin-top: 80px;
  color: var(--brown-text);
  background-color: var(--text-color1);
  padding: 20px;
  background-image: url(../img/RenLogo.png);
  background-repeat: no-repeat;
  background-position: 40px;
  background-size: 240px;
}

.main-content {
  /* this is where you'll put your knives background image */
  background-color: var(--primary-color);
  background-image: url("../img/swordpattern2.png");
  background-size: 150px 150px;
  background-repeat: repeat;
  height: 1800px;
  max-width: 1440px, 4000px;
  margin: auto;
  margin-top: -200px;
}
.main-content .paper {
  margin-left: 1800px;
  margin-top: 100px;
}
.main-content .center {
  background-repeat: no-repeat;
  background-size: 100px, 100px;
  padding-right: 500px;
  margin: 500px;
  list-style-type: none;
}
.main-content .mascot img {
  margin-top: -1700px;
  max-width: 2600%;
  margin-right: 2000px;
  padding-left: 200px;
}
.main-content {
  width: 100%;
}

.content {
  padding: 0;
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding-left: 0;
}
.navigation li:has(.tickets) {
  flex-basis: 40%;
}
.navigation li a {
  background-color: var(--trans);
  color: var(--text-color1);
  display: block;
  font-size: 60px;
  padding: 10px;
  text-align: center;
}
.navigation li a:hover, .navigation li a:focus {
  background-color: var(--black);
  color: var(--primary-color-bright);
}
.navigation .tickets {
  background-image: url("../img/scrollimage.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  font-size: 100px;
  text-align: center;
  color: var(--brown-text);
  aspect-ratio: 584/372;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20% 10%;
}

.content {
  font-size: 40;
}

.footer {
  text-align: center;
}
.footer ul {
  display: flex;
  gap: 20px;
  justify-content: center;
  font-size: 50px;
  list-style-type: none;
  padding-left: 0;
}
.footer a {
  text-decoration: underline;
}

/* Styles for screens above or equal to 600px wide *//*# sourceMappingURL=main.css.map */