/* Custom fonts and other imports go first */
@import url('<link href="https://fonts.googleapis.com/css2?family=Metamorphous&display=swap" rel="stylesheet">');

/* CSS variables */
:root {
  --text-color1: #979461;
  --white: rgb(6, 60, 22);
  --primary-color: rgb(49, 67, 39);
  --brown-text: #26190c;
  --primary-color-bright: #aa951d;
  --primary-color-dark: rgb(0, 40, 20);
  --transparency:

  --contrast-color: rgb(177, 115, 0);

  --headline-color: var(--brown-text):
}

/* Box Model Reset: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Your styles go below */
/* Default styles apply to screens less than 600px wide */
body {
  background-color: var(--primary-color-dark);
  background-image: url("../img/leafbackground2.png");
  background-size: 800px 800px;
  background-repeat: repeat;

 .metamorphous-regular {
  font-family: "Metamorphous", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}
}

h1, h2, h3 {
  color: var(--headline-color);
}

a {
  color: inherit;
}

a:hover {
  background-color: var(--primary-color);
}
/* applies to all <section> elements*/
section {
  padding-top: 40px;
  padding-bottom: 40px; 
}

/*applies to anything with class="center */
.center {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  color: var(--text-color1);
}

.header {
  background-blend-mode: multiply;
  background-image: url("../img/Headertest.jpg");
  background-size: cover;
  text-align: center;

  // @Jack - Added some positioning and z-index to force the header to stack above the other
  // content on the page, that way the nav links aren't below the image.
  // Default position value is static.
  position: relative;
  // Default z-index value is 0. If multiple HTML siblings have the same z-index value but visually
  // overlap each other (e.g. because of negative margin) then the subsequent HTML elements will 
  // display on top of the previous HTML elements. By settign the z-index to a value higher than 0
  // we can change which element displays on top. 
  z-index: 100;


  .center {
    max-width: 1600px; // @Jack - Updated this value to match the max-width of .main-content
  }

  h1 {
    line-height: 0.725em; // @Jack - Changed the line height to tighen up the now wrapping text
    font-size: 125px;
    margin-top: 80px;
    color: var(--brown-text);
    background-color: var(--text-color1);
    // @Jack - Removed the height value set here and replaced it with some padding to match the
    // originally defined 120px height
    padding: 20px;
    background-image: url(../img/RenLogo.png);
    background-repeat: no-repeat;
    background-position: 40px;
    background-size: 240px;
  }

  // @Jack - Removed styles for header h2 and h3 since that text is now 
  // consolidated into a single h1 element
}


.main-content {
  /* this is where you'll put your knives background image */

  background-color: var(--primary-color);
  background-image: url("../img/swordpattern2.png");
  background-size: 150px 150px;
  background-repeat: repeat;
  height: 1800px;
  max-width: 1440px, 4000px;
  margin: auto;
  margin-top: -200px;

  .paper {
        
        margin-left: 1400px;
        margin-top: 100px;
  }


  .center {
         background-repeat: no-repeat;
         background-size: 100px, 100px;
        padding-right: 500px;
        margin: 500px;
         list-style-type: none;
    
         }
  
  .mascot {
    // @Jack - I see what you were doing here, but it relies on the screen and the rest of the content
    // being exactly the right size in order to work. Alternative solution below. 
    // margin-left: -650px;
    // margin-top: -2600px;
     // This is a clever solution for the overlapping issue, very nice.
    img {
      margin-top: -1700px;
      max-width: 2600%;
      margin-right: 2000px;
      padding-left: 200px;
      

      
      }
    }



    width: 100%;
  }


  .content {
    padding: 0;
  }

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  // @Jack - Removes default list styles like the bullet points
  list-style: none;
  padding-left: 0;


  li {

    // @Jack - This targets the list item that has a child element with a class of "tickets."
    // It's a way to style a parent element based on a child, and the flex-basis of 40% 
    // means this list item will target a width of 40% but still do all the fancy CSS flexbox stuff.
    &:has(.tickets) {
      flex-basis: 40%;
    }

    a {
      background-color: var(--trans);
      color: var(--text-color1);
      display: block;
      font-size: 60px; // @Jack - The correct property is 'font-size' to set the size of the text
      padding: 10px;


      text-align: center;

      &:hover,
      &:focus {
        background-color: var(--black);
        color: var(--primary-color-bright);
      }
    }
  }

  .tickets {
    background-image: url("../img/scrollimage.webp");
    background-size: contain;
    background-repeat:no-repeat;
    background-color: transparent;
    font-size: 100px;
    text-align: center;
    color: var(--brown-text);
    // padding: 200px;

    // @Jack - This sizes the middle item to be the same proportions as the
    // background scroll image, since that's what you're trying to align the
    // ticket typography in.
    aspect-ratio: 584/372;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20% 10%;
  }
}

.content {

font-size: 40;
}

// @Jack - You had most of the right styles here, but not targeting the right elements.
// Most of the styles needed to target the <ul> in .footer, not .footer directly.
.footer {
  text-align: center;

  ul {
    display: flex;
    gap: 20px;  
    justify-content: center;
    font-size: 50px; // @Jack - Brought the font-size down to make it all fit on one line. 
    list-style-type: none;
    padding-left: 0;
  }

  a {
    text-decoration: underline;
  }
}

/* Styles for screens above or equal to 600px wide */
@media (width >= 600px) {

}